@font-face {
  font-family: 'Mont';
  src:
    local('Mont-Regular'),
    url(../assets/fonts/Mont-Regular.otf) format('otf'),
    url(../assets/fonts/Mont-Regular.ttf) format('ttf'),
    url(../assets/fonts/Mont-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Mont';
  src:
    local('Mont-SemiBold'),
    url(../assets/fonts/Mont-SemiBold.otf) format('otf'),
    url(../assets/fonts/Mont-SemiBold.woff) format('woff'),
    url(../assets/fonts/Mont-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Mont';
  src:
    local('Mont-Bold'),
    url(../assets/fonts/Mont-Bold.otf) format('otf'),
    url(../assets/fonts/Mont-Bold.woff) format('woff'),
    url(../assets/fonts/Mont-Bold.ttf) format('ttf');
}
